@charset "UTF-8";
body, p, li, ul, ol, h1, h2, h3, h4, h5, h6, fieldset, legend, dl, dt {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  font-size: 12px;
  font-family: "微软雅黑"; }

img, iframe {
  border: none; }

a {
  text-decoration: none;
  color: #000; }

ul, ol {
  list-style: none; }

.clear {
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both; }

.containerH {
  width: 100%;
  background: #f2f2f2;
  border-bottom: 1px solid #ccc; }
  .containerH header {
    width: 1200px;
    height: 34px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif; }
    .containerH header .user_name {
      display: none;
      font-size: 12px;
      line-height: 34px;
      float: left;
      margin-right: 5px; }
      .containerH header .user_name a {
        color: #808080; }
      .containerH header .user_name a:hover {
        color: #d41c4f; }
    .containerH header .wel {
      font-size: 12px;
      color: #333;
      line-height: 34px;
      float: left; }
    .containerH header .user {
      font-size: 12px;
      line-height: 34px;
      float: left;
      margin-left: 8px;
      color: #333;
      display: block; }
      .containerH header .user span {
        margin: 4px; }
        .containerH header .user span a {
          color: #666; }
        .containerH header .user span a:hover {
          color: #d41c4f; }
    .containerH header .user_exit {
      line-height: 34px;
      cursor: pointer;
      color: #808080;
      margin-left: 6px;
      float: left;
      display: none; }
    .containerH header .userpanel {
      float: right;
      margin-top: 5px; }
      .containerH header .userpanel li {
        height: 29px;
        float: left;
        color: #666;
        border: 1px solid #f2f2f2;
        border-bottom: none; }
        .containerH header .userpanel li a {
          line-height: 29px;
          float: left;
          padding: 0 8px;
          color: #666;
          text-align: center; }
        .containerH header .userpanel li a:hover {
          color: #d41c4f; }
      .containerH header .userpanel .mycart {
        line-height: 29px;
        width: 117px;
        position: relative; }
        .containerH header .userpanel .mycart i {
          float: left;
          width: 24px;
          height: 20px;
          background: url(../images/H_top_v2.png) -33px -27px no-repeat;
          margin: 4px 5px 0 9px; }
        .containerH header .userpanel .mycart span {
          float: left; }
          .containerH header .userpanel .mycart span a {
            color: #666666;
            padding: 0; }
        .containerH header .userpanel .mycart b {
          float: left;
          font-size: 13px;
          color: #ca234f;
          margin-left: 8px;
          line-height: 28px; }
        .containerH header .userpanel .mycart em {
          float: left;
          width: 8px;
          height: 8px;
          margin: 9px 5px 0 9px;
          background: url(../images/icon2.png) no-repeat;
          background-size: 8px 8px; }
        .containerH header .userpanel .mycart #cart {
          width: 318px;
          position: absolute;
          left: -110px;
          top: 27px;
          border: 1px #d3d3d3 solid;
          background: #fff;
          display: none;
          box-shadow: 2px 2px 5px #ddd;
          z-index: 99999999; }
          .containerH header .userpanel .mycart #cart p {
            text-align: center;
            font-size: 11px;
            color: #888888;
            padding: 15px;
            display: block; }
          .containerH header .userpanel .mycart #cart .goodsInCart {
            width: 100%;
            overflow: hidden;
            float: left;
            display: none; }
            .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul {
              width: 100%;
              float: left;
              height: 78px;
              position: relative;
              border-bottom: 1px solid #dddddd; }
              .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul li {
                position: absolute;
                height: 0;
                float: none;
                color: #666;
                border: none; }
              .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_pic {
                width: 50px;
                height: 50px;
                border: 1px #d6d6d6 solid;
                left: 15px;
                top: 13px; }
                .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_pic a {
                  padding: 0; }
                .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_pic img {
                  width: 50px;
                  height: 50px;
                  float: left; }
              .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_name {
                width: 133px;
                font-size: 11px;
                line-height: 18px;
                left: 75px;
                top: 19px;
                text-align: left; }
                .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_name a {
                  line-height: 18px;
                  float: left;
                  padding: 0;
                  color: #666;
                  text-align: left; }
                .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_name a:hover {
                  color: #d41c4f; }
              .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_num {
                width: 17px;
                height: 18px;
                background: #e8e8e8;
                text-align: center;
                line-height: 18px;
                top: 28px;
                right: 83px; }
              .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_price {
                font-size: 11px;
                font-weight: 700;
                color: #da2353;
                left: 255px;
                top: 23px; }
              .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_remove {
                left: 255px;
                top: 52px;
                font-size: 11px; }
                .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_remove a {
                  color: #276fc4;
                  padding: 0;
                  line-height: 0px; }
                .containerH header .userpanel .mycart #cart .goodsInCart .gIC_ul .gIC_remove a:hover {
                  color: #276fc4; }
          .containerH header .userpanel .mycart #cart .InCartList {
            display: none;
            width: 100%;
            height: 66px;
            float: left; }
            .containerH header .userpanel .mycart #cart .InCartList .num_total {
              float: left;
              line-height: 66px;
              font-size: 12px;
              margin-left: 12px; }
              .containerH header .userpanel .mycart #cart .InCartList .num_total .ICL_num {
                font-size: 13px;
                color: #dc1c4f;
                font-weight: 500;
                float: left;
                margin-right: 2px; }
              .containerH header .userpanel .mycart #cart .InCartList .num_total .ICL_total {
                color: #d41014;
                font-size: 18px;
                float: right;
                font-weight: 700; }
                .containerH header .userpanel .mycart #cart .InCartList .num_total .ICL_total f {
                  font-size: 12px;
                  margin: 0 1px; }
            .containerH header .userpanel .mycart #cart .InCartList .gobuy {
              width: 99px;
              height: 29px;
              color: #fff;
              border: none;
              float: right;
              margin-right: 15px;
              margin-top: 19px;
              background: #da2353;
              cursor: pointer; }
        .containerH header .userpanel .mycart .cover {
          width: 117px;
          height: 3px;
          position: absolute;
          left: 0px;
          background: #fff;
          top: 26px;
          display: none;
          z-index: 999999999; }
      .containerH header .userpanel .mycart:hover {
        background: #fff;
        border: 1px solid #cccccc;
        border-bottom: none; }
      .containerH header .userpanel .mycart:hover span a {
        color: #d41c4f; }
      .containerH header .userpanel .mycart:hover .cover {
        display: block; }
      .containerH header .userpanel .mycart:hover #cart {
        display: block; }
      .containerH header .userpanel .mycart:hover em {
        background: url(../images/icon1.png) no-repeat;
        background-size: 8px 8px; }
      .containerH header .userpanel .webnav {
        width: 80px;
        line-height: 29px;
        text-indent: 11px;
        position: relative; }
        .containerH header .userpanel .webnav em {
          float: left;
          width: 8px;
          height: 8px;
          margin: 9px 0 0 3px;
          background: url(../images/icon2.png) no-repeat;
          background-size: 8px 8px; }
        .containerH header .userpanel .webnav span {
          float: left; }
        .containerH header .userpanel .webnav .page_nav {
          width: 264px;
          height: 249px;
          position: absolute;
          background: #fff;
          left: -185px;
          top: 27px;
          z-index: 9999;
          border: #dddddd solid 1px;
          box-shadow: 2px 2px 5px #ddd;
          display: none; }
          .containerH header .userpanel .webnav .page_nav section {
            width: 242px;
            height: 57px;
            float: left;
            border-bottom: #ebebeb 1px solid;
            margin-left: 11px;
            margin-top: 12px; }
            .containerH header .userpanel .webnav .page_nav section p {
              color: #666;
              font-size: 11px;
              float: left;
              font-weight: bold; }
            .containerH header .userpanel .webnav .page_nav section ul {
              float: left;
              clear: both; }
              .containerH header .userpanel .webnav .page_nav section ul li {
                height: 29px;
                border: none; }
                .containerH header .userpanel .webnav .page_nav section ul li a {
                  padding: 0px;
                  line-height: 20px;
                  float: left;
                  color: #666; }
                .containerH header .userpanel .webnav .page_nav section ul li a:hover {
                  color: #d41c4f; }
                .containerH header .userpanel .webnav .page_nav section ul li .veryhot {
                  color: #d41c4f; }
          .containerH header .userpanel .webnav .page_nav article {
            float: left;
            font-size: 11px;
            color: #666;
            margin-left: 11px;
            margin-top: 6px; }
        .containerH header .userpanel .webnav .coverN {
          width: 80px;
          height: 4px;
          position: absolute;
          left: 0px;
          background: #fff;
          top: 26px;
          background: #fff;
          z-index: 99999;
          display: none; }
      .containerH header .userpanel .webnav:hover {
        background: #fff;
        color: #d41c4f;
        border: 1px solid #cccccc;
        border-bottom: none; }
      .containerH header .userpanel .webnav:hover em {
        background: url(../images/icon1.png) no-repeat;
        background-size: 8px 8px; }
      .containerH header .userpanel .webnav:hover .page_nav {
        display: block; }
      .containerH header .userpanel .webnav:hover .coverN {
        display: block; }
      .containerH header .userpanel .sign {
        float: left;
        line-height: 26px;
        font-size: 18px;
        color: #c7c7c7; }

.logo {
  width: 1200px;
  margin: 0 auto;
  height: 102px; }
  .logo .logo_pic {
    width: 91px;
    height: 52px;
    margin-top: 25px;
    float: left; }
  .logo #search {
    float: left;
    width: 390px;
    height: 68px;
    margin: 25px 0 0 460px; }
    .logo #search #search_text {
      width: 308px;
      height: 28px;
      float: left;
      border: 1px solid #d8d9dc;
      border-right: none;
      background: #f0f0f0;
      text-indent: 5px; }
    .logo #search #search_btn {
      width: 80px;
      height: 32px;
      float: left;
      background: #ca224e;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer; }
    .logo #search .hot_key {
      float: left;
      margin-top: 5px; }
      .logo #search .hot_key a {
        color: #666; }
      .logo #search .hot_key .veryhot {
        color: #d41c4f; }
      .logo #search .hot_key a:hover {
        text-decoration: underline; }
      .logo #search .hot_key span {
        color: #666;
        margin: 0 5px; }
  .logo .promise {
    width: 223px;
    height: 77px;
    float: right;
    margin-top: 18px; }
    .logo .promise img {
      float: left; }

.containerM {
  width: 100%;
  background: #d41c4f; }
  .containerM .g_menu {
    width: 1200px;
    position: relative;
    height: 35px;
    margin: 0 auto; }
    .containerM .g_menu .nav_all {
      float: left;
      height: 35px;
      width: 231px;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
      font-size: 14px;
      background: #ac143f;
      position: relative; }
      .containerM .g_menu .nav_all a {
        color: #fff; }
    .containerM .g_menu .nav_list {
      position: absolute;
      left: 0px;
      top: 35px;
      width: 229px;
      height: 440px;
      background: #fff;
      border: 1px solid #e5e5e5;
      border-top: none;
      z-index: 9999; }
    .containerM .g_menu .nav_all:hover {
      background: #970a32; }
    .containerM .g_menu .nav_row {
      float: left; }
      .containerM .g_menu .nav_row li {
        float: left; }
        .containerM .g_menu .nav_row li a {
          height: 35px;
          float: left;
          line-height: 35px;
          color: #fff;
          font-size: 14px;
          padding: 0 15px; }
        .containerM .g_menu .nav_row li .defaultN {
          background: #96193c; }
        .containerM .g_menu .nav_row li a:hover {
          background: #96193c; }
        .containerM .g_menu .nav_row li span {
          color: #e85573;
          line-height: 35px; }
    .containerM .g_menu .mobile_club {
      float: right;
      width: 78px;
      height: 35px;
      text-align: left;
      overflow: hidden;
      display: block;
      background: url(../images/H_top_v2.png) -225px -54px no-repeat;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      text-indent: 38px;
      line-height: 35px; }
    .containerM .g_menu .mobile_club:hover {
      text-decoration: underline; }

.nav_list .cata_group {
  width: 229px;
  float: left; }
  .nav_list .cata_group .cata_sub {
    background-color: #fff;
    width: 730px;
    height: 439px;
    position: absolute;
    left: 229px;
    top: 0;
    z-index: 67;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #e5e5e5;
    display: none; }
    .nav_list .cata_group .cata_sub .cata_sub_list {
      float: left;
      padding: 12px 10px 8px 24px;
      width: 694px;
      height: 419px;
      background-color: #fff;
      position: relative; }
      .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl {
        padding: 6px 0; }
        .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dt {
          position: relative;
          font-size: 12px;
          color: #ca234f;
          line-height: 110%;
          text-align: left;
          padding: 0 10px 0 4px;
          vertical-align: top;
          font-weight: 700;
          border-left: 2px solid #ca234f;
          margin: 5px 0; }
          .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dt .more {
            position: absolute;
            top: 1px;
            right: 8px;
            font-family: 瀹嬩綋;
            font-weight: 400;
            color: #999999; }
        .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd {
          line-height: 190%;
          display: inline-block;
          zoom: 1;
          padding: 5px 0; }
          .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd .cata_brand_list {
            background-color: #fff; }
            .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd .cata_brand_list ul {
              font-size: 0;
              line-height: 0;
              text-align: center;
              width: 690px; }
              .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd .cata_brand_list ul li {
                width: 97px;
                height: 82px;
                float: left;
                border: 1px dotted #dedede;
                position: relative;
                margin-left: -1px; }
                .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd .cata_brand_list ul li a {
                  display: block;
                  width: 97px;
                  height: 79px;
                  font-size: 12px;
                  padding: 3px 0 0; }
                  .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd .cata_brand_list ul li a .logo_img {
                    height: 55px; }
                    .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd .cata_brand_list ul li a .logo_img img {
                      height: 55px; }
                  .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_brand dl dd .cata_brand_list ul li a .logo_name {
                    font-size: 12px;
                    height: 18px;
                    line-height: 18px;
                    color: #999;
                    display: inline-block;
                    word-wrap: break-word;
                    overflow: hidden;
                    cursor: pointer; }
      .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words {
        width: 760px;
        position: relative; }
        .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words .words_shade {
          width: 700px;
          height: 5px;
          overflow: hidden;
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: -2px;
          left: 0;
          background: #fff; }
        .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words dl {
          width: 320px;
          border-top: 1px dotted #dedede;
          margin-right: 40px;
          float: left;
          padding: 6px 0; }
          .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words dl a {
            color: #333; }
          .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words dl a:hover {
            color: #cc0000;
            text-decoration: underline; }
          .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words dl dt {
            font-size: 12px;
            color: #ca234f;
            line-height: 110%;
            text-align: left;
            padding: 0 10px 0 4px;
            vertical-align: top;
            font-weight: 700;
            border-left: 2px solid #ca234f;
            margin: 5px 0; }
          .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words dl dd {
            width: 320px;
            height: 44px;
            overflow: hidden;
            line-height: 190%;
            display: inline-block;
            zoom: 1;
            margin: 0;
            padding: 5px 0; }
            .nav_list .cata_group .cata_sub .cata_sub_list .dl_cata_words dl dd a {
              white-space: nowrap;
              padding-right: 8px; }
  .nav_list .cata_group .coverBorder {
    height: 87px;
    width: 15px;
    float: left;
    position: absolute;
    top: 0;
    background: #fff;
    left: 221px;
    z-index: 80;
    display: none; }
  .nav_list .cata_group .cata_group_btn {
    width: 229px; }
    .nav_list .cata_group .cata_group_btn .cata_group_head {
      height: 35px;
      overflow: hidden;
      background: #fff;
      padding: 0 10px; }
      .nav_list .cata_group .cata_group_btn .cata_group_head .group_title {
        height: 35px;
        line-height: 35px;
        float: left;
        width: 190px;
        padding-left: 1px; }
        .nav_list .cata_group .cata_group_btn .cata_group_head .group_title i {
          float: left;
          display: inline-block;
          width: 23px;
          height: 33px;
          margin: 2px 8px 0 0;
          background: url(../images/H_top_v2.png) no-repeat; }
        .nav_list .cata_group .cata_group_btn .cata_group_head .group_title .i_1 {
          background-position: -123px -341px; }
        .nav_list .cata_group .cata_group_btn .cata_group_head .group_title a {
          text-align: left;
          overflow: hidden;
          height: 35px;
          display: block;
          font-size: 13px;
          font-weight: 700;
          text-decoration: none;
          float: left;
          color: #333; }
        .nav_list .cata_group .cata_group_btn .cata_group_head .group_title a:hover {
          text-decoration: underline; }
      .nav_list .cata_group .cata_group_btn .cata_group_head .more_ico {
        float: right;
        display: block;
        width: 15px;
        height: 15px;
        font-size: 0;
        line-height: 0;
        margin-top: 11px;
        background: url(../images/H_top_v2.png) no-repeat;
        background-position: -170px -24px; }
    .nav_list .cata_group .cata_group_btn .cata_hot_link {
      width: 190px;
      line-height: 25px;
      padding: 0 20px 0px 15px;
      overflow: hidden;
      margin: 0; }
      .nav_list .cata_group .cata_group_btn .cata_hot_link a {
        float: left;
        display: inline-block;
        color: #666;
        margin-right: 10px;
        white-space: nowrap; }
      .nav_list .cata_group .cata_group_btn .cata_hot_link a:hover {
        text-decoration: underline; }
      .nav_list .cata_group .cata_group_btn .cata_hot_link .cata_hot_item {
        overflow: hidden; }
        .nav_list .cata_group .cata_group_btn .cata_hot_link .cata_hot_item .cata_hot_words {
          width: 198px;
          float: left;
          line-height: 23px;
          border-bottom: 1px solid #e5e5e5;
          padding: 0 3px 6px 3px; }
          .nav_list .cata_group .cata_group_btn .cata_hot_link .cata_hot_item .cata_hot_words a.veryhot {
            color: #d41c4f; }
        .nav_list .cata_group .cata_group_btn .cata_hot_link .cata_hot_item .last {
          border: none; }
.nav_list .cata_groupM .cata_sub {
  top: -88px; }
.nav_list .cata_groupM .cata_group_btn .cata_group_head .group_title .i_1 {
  background-position: -154px -341px; }
.nav_list .cata_groupY .cata_sub {
  top: -176px; }
.nav_list .cata_groupY .cata_group_btn .cata_group_head .group_title .i_1 {
  background-position: -187px -340px; }
.nav_list .cata_groupQ .cata_sub {
  top: -264px; }
.nav_list .cata_groupQ .coverBorder {
  height: 64px; }
.nav_list .cata_groupQ .cata_group_btn .cata_group_head .group_title .i_1 {
  background-position: -218px -340px; }
.nav_list .cata_all_link {
  width: 229px;
  position: absolute;
  bottom: 15px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #666; }

.slider {
  width: 100%;
  position: relative;
  height: 440px;
  overflow: hidden; }
  .slider #list_pic {
    position: relative;
    z-index: 1; }
    .slider #list_pic li {
      width: 100%;
      height: 440px;
      float: left;
      margin-right: -100%;
      position: relative;
      display: block;
      z-index: 1; }
      .slider #list_pic li a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .slider #list_pic li.active {
      z-index: 3; }
  .slider #btnL, .slider #btnR {
    width: 33px;
    height: 35px;
    display: block;
    position: absolute;
    z-index: 999;
    opacity: 0.4;
    cursor: pointer; }
  .slider #btnL {
    left: 30%;
    top: 195px;
    background: url(../images/home_spirit.png) -80px 0 no-repeat; }
  .slider #btnL:hover {
    opacity: 0.6; }
  .slider #btnR:hover {
    opacity: 0.6; }
  .slider #btnR {
    right: 15%;
    top: 195px;
    background: url(../images/home_spirit.png) -120px 0 no-repeat; }
  .slider .point {
    width: 118px;
    height: 20px;
    position: absolute;
    top: 408px;
    right: 105px;
    z-index: 9;
    box-sizing: border-box;
    padding: 4px 4px;
    border-radius: 10px; }
    .slider .point span {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: #777777;
      float: left;
      margin: 0 4px;
      border-radius: 50%; }
    .slider .point span.active {
      background: #d41c50; }

.hot_link {
  width: 1193px;
  margin: 0 auto;
  margin-top: 10px;
  height: 239px; }
  .hot_link img {
    float: left; }
  .hot_link img.hot_middle {
    margin: 0 1px; }

.floor_1f {
  width: 1190px;
  height: 970px;
  margin: 0 auto;
  margin-top: 50px; }
  .floor_1f .f_title {
    height: 34px;
    width: 1190px;
    float: left;
    padding-bottom: 3px; }
    .floor_1f .f_title .name {
      float: left;
      line-height: 34px; }
      .floor_1f .f_title .name a {
        float: left;
        width: 500px;
        height: 34px;
        background: url(../images/home_spirit.png) -260px 0 no-repeat; }
    .floor_1f .f_title .more {
      float: right;
      font-family: 瀹嬩綋;
      color: #666666;
      line-height: 34px; }
    .floor_1f .f_title .more:hover {
      text-decoration: underline; }
  .floor_1f .f_main {
    width: 1190px;
    height: 440px;
    float: left; }
    .floor_1f .f_main .f_side {
      float: left;
      border: 1px solid #e5e5e5;
      background-color: #fafafa; }
      .floor_1f .f_main .f_side a {
        float: left;
        width: 229px;
        height: 439px;
        background: url(../images/1z.jpg); }
    .floor_1f .f_main .f_show {
      width: 952px;
      height: 440px;
      float: left;
      margin-left: 7px;
      overflow: hidden;
      position: relative; }
  .floor_1f .f_mod {
    float: left;
    width: 1190px;
    height: 483px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
    border-left: none;
    border-top: none; }

.f_show ul {
  height: 440px;
  margin-left: 0; }
  .f_show ul li {
    float: left;
    width: 952px;
    height: 440px; }
    .f_show ul li a {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
.f_show section {
  width: 585px;
  height: 29px;
  position: absolute;
  bottom: 0;
  right: 0; }
  .f_show section span {
    width: 116px;
    height: 29px;
    float: left;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 29px;
    margin-left: 1px;
    cursor: pointer;
    color: #fff; }
  .f_show section span:hover {
    color: #e37877;
    text-decoration: underline; }
  .f_show section span.active {
    background: rgba(0, 0, 0, 0.6); }

.mod_list .mod_item {
  width: 237px;
  float: left;
  border: 1px solid #e5e5e5;
  position: relative;
  margin-right: -1px;
  margin-bottom: -1px;
  overflow: hidden;
  border-bottom: none; }
  .mod_list .mod_item .pic {
    width: 174px;
    height: 174px;
    margin: 0 auto;
    display: block; }
  .mod_list .mod_item .info {
    padding: 7px 20px 21px;
    text-align: center;
    font-family: SimSun;
    font-size: 12px; }
    .mod_list .mod_item .info span {
      display: block;
      overflow: hidden; }
    .mod_list .mod_item .info .title {
      height: 18px; }
      .mod_list .mod_item .info .title a {
        color: #333; }
      .mod_list .mod_item .info .title a:hover {
        color: #cc0000;
        text-decoration: underline; }
    .mod_list .mod_item .info .price {
      padding-top: 6px;
      font-weight: 700;
      color: #333;
      font-family: tahoma,verdana,arial,helvetica,sans-serif; }
      .mod_list .mod_item .info .price s {
        font-weight: 400;
        color: #666;
        padding-left: 5px; }
.mod_list li:nth-of-type(5) {
  border-bottom: 1px solid #e5e5e5; }

.floor_2f .f_title .name a {
  background: url(../images/home_spirit.png) -260px -34px no-repeat; }
.floor_2f .f_main .f_side a {
  background: url(../images/2z.jpg); }

.floor_3f .f_title .name a {
  background: url(../images/home_spirit.png) -260px -68px no-repeat; }
.floor_3f .f_main .f_side a {
  background: url(../images/3z.jpg); }
.floor_3f .f_main .f_show section {
  width: 234px; }

.floor_4f .f_title .name a {
  background: url(../images/home_spirit.png) -260px -102px no-repeat; }
.floor_4f .f_main .f_side a {
  background: url(../images/4z.jpg); }

.floor_5f .f_title .name a {
  background: url(../images/home_spirit.png) -260px -136px no-repeat; }
.floor_5f .f_main .f_side a {
  background: url(../images/5z.jpg); }

.hot_brand {
  width: 1189px;
  height: 286px;
  margin: 45px auto 0;
  padding-top: 50px; }
  .hot_brand .h_title {
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    height: 34px;
    padding-bottom: 3px; }
  .hot_brand ul {
    border-top: solid 1px #e5e5e5;
    border-left: solid 1px #e5e5e5;
    display: block;
    overflow: hidden; }
    .hot_brand ul li {
      height: 197px;
      width: 197px;
      float: left;
      border-right: solid 1px #e5e5e5;
      border-bottom: solid 1px #e5e5e5; }

.subscribe {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  margin-top: 23px; }
  .subscribe .s_2code {
    float: left;
    width: 310px;
    height: 120px;
    background: url(../images/code.png) no-repeat;
    margin-left: 30px; }
  .subscribe .follow_us {
    width: 280px;
    padding: 45px 0 40px 40px;
    float: right;
    border-left: 1px solid #dedede; }
    .subscribe .follow_us h3 {
      float: left;
      width: 86px;
      height: 16px;
      margin: 6px 20px 12px 0;
      background: url(../images/H_top_v2.png) -4px -68px no-repeat; }
    .subscribe .follow_us a {
      display: block;
      float: left;
      width: 33px;
      height: 27px;
      margin-right: 12px;
      border-right: 1px solid #e3e3e3;
      padding-right: 5px;
      position: relative; }
    .subscribe .follow_us .s_weixin {
      background: url(../images/H_top_v2.png) 0 -87px no-repeat; }
      .subscribe .follow_us .s_weixin .mbb_weixin {
        width: 249px;
        height: 294px;
        position: absolute;
        top: -297px;
        right: -97px;
        z-index: 100;
        display: none; }
    .subscribe .follow_us .s_weixin:hover .mbb_weixin {
      display: block; }
    .subscribe .follow_us .s_weibot {
      background: url(../images/H_top_v2.png) -38px -87px no-repeat; }
    .subscribe .follow_us .s_weibo {
      background: url(../images/H_top_v2.png) -77px -87px no-repeat; }

.feature {
  width: 1200px;
  height: 58px;
  margin: 0 auto;
  background: #e61e56;
  margin-top: 20px;
  overflow: hidden; }
  .feature ul {
    height: 30pxx;
    margin-top: 14px; }
    .feature ul li {
      float: left;
      width: 240px;
      height: 30px;
      margin-top: 3px; }
      .feature ul li a {
        height: 25px;
        display: block;
        background: url(../images/H_top_v2.png) no-repeat;
        margin: 0 auto;
        margin-top: 2px; }
      .feature ul li .one {
        background-position: 0 -234px;
        width: 76px; }
      .feature ul li .two {
        width: 80px;
        background-position: -139px -260px; }
      .feature ul li .three {
        width: 118px;
        background-position: 0 -260px; }
      .feature ul li .four {
        width: 93px;
        background-position: -157px -208px; }
    .feature ul span {
      float: left;
      color: #ec6088;
      font-size: 28px;
      line-height: 30px; }
    .feature ul li.first {
      margin-left: 106px; }

.containerF {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 30px; }
  .containerF footer {
    margin: 0 auto;
    width: 1200px;
    height: 307px;
    padding-top: 25px; }

.footer_menu {
  width: 1200px; }
  .footer_menu dl {
    border-right: 1px solid #dedede;
    height: 93px;
    margin-left: 35px;
    font-size: 11px;
    float: left;
    padding-right: 48px; }
    .footer_menu dl dd {
      margin: 0; }
      .footer_menu dl dd a {
        color: #333; }
    .footer_menu dl dt {
      margin: 0;
      margin-top: 8px; }
      .footer_menu dl dt a {
        color: #999; }
    .footer_menu dl a:hover {
      color: #cc0000;
      text-decoration: underline; }
  .footer_menu .tellus {
    width: 165px;
    height: 93px;
    float: left;
    margin-left: 48px;
    background: url(../images/H_top_v2.png) -4px -113px no-repeat;
    position: relative; }
    .footer_menu .tellus .online {
      width: 134px;
      height: 35px;
      display: block;
      text-align: left;
      text-indent: 55px;
      font-weight: 700;
      color: #fff;
      line-height: 35px;
      position: absolute;
      bottom: 0;
      font-size: 14px; }

.copyright {
  width: 1200px;
  margin: 0 auto;
  height: 34px;
  border-top: 1px solid #ebebeb;
  float: left;
  margin-top: 35px;
  padding-top: 15px;
  color: #999;
  text-align: center; }

.honer {
  text-align: center;
  padding: 20px 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
  width: 569px;
  margin: 0 auto; }
  .honer a {
    display: block; }
  .honer li {
    display: inline-block;
    padding: 0 10px;
    float: left; }
    .honer li .ico-alipay {
      width: 69px;
      height: 33px;
      background: url(../images/H_top_v2.png) no-repeat;
      background-position: -116px -82px; }
    .honer li .ico-cuw {
      width: 40px;
      height: 33px;
      background: url(../images/H_top_v2.png) no-repeat;
      background-position: -159px -46px; }
    .honer li .ico-bus {
      width: 49px;
      height: 49px;
      background: url(../images/H_top_v2.png) no-repeat;
      background-position: -106px -2px;
      margin-top: -12px; }
    .honer li .ico-saft {
      width: 38px;
      height: 37px;
      background: url(../images/H_top_v2.png) no-repeat;
      background-position: -63px -26px; }
    .honer li .ico-inte {
      width: 49px;
      height: 49px;
      background: url(../images/H_top_v2.png) no-repeat;
      background-position: -2px -594px;
      margin-top: -11px; }
  .honer .footer-link {
    font-size: 12px;
    line-height: 25px;
    height: 60px;
    vertical-align: middle; }
    .honer .footer-link a {
      color: #999;
      padding-bottom: 10px; }
    .honer .footer-link .footer-link-nav {
      margin-top: 3px; }
  .honer .footer-link:hover a {
    text-decoration: underline; }

.fb_side {
  width: 66px;
  height: 268px;
  position: fixed;
  bottom: 20px;
  right: 1px;
  z-index: 99999; }
  .fb_side ul li {
    width: 65px;
    height: 65px;
    border: 1px #d41c50 solid;
    background: #d41c50;
    margin-top: 1px;
    position: relative; }
    .fb_side ul li a {
      position: absolute;
      display: inline-block;
      width: 65px;
      height: 65px;
      left: 0;
      top: 0; }
      .fb_side ul li a i {
        display: block;
        width: 35px;
        position: absolute;
        height: 35px;
        right: 14px;
        top: 7px;
        background: url(../images/fb-side.png) no-repeat; }
      .fb_side ul li a span {
        display: block;
        position: absolute;
        color: #fff;
        bottom: 3px;
        height: 20px;
        width: 64px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        left: 0; }
  .fb_side ul .gotop {
    visibility: hidden; }
    .fb_side ul .gotop a i {
      background-position: -104px 0; }
  .fb_side ul .chat a i {
    background-position: -34px 0; }
  .fb_side ul .cart a i {
    background-position: 3px 0; }
  .fb_side ul .qrcode {
    position: relative; }
    .fb_side ul .qrcode a i {
      background-position: -69px 0; }
    .fb_side ul .qrcode a .hover_show {
      position: absolute;
      top: -190px;
      left: -236px;
      display: none; }
  .fb_side ul .qrcode:hover .hover_show {
    display: block; }
  .fb_side ul .gotop:hover i {
    background-position: -104px -35px; }
  .fb_side ul .chat:hover i {
    background-position: -34px -35px; }
  .fb_side ul .cart:hover i {
    background-position: 3px -35px; }
  .fb_side ul .qrcode:hover i {
    background-position: -69px -35px; }
  .fb_side ul li:hover {
    background: #fff;
    border: #dddddd 1px solid; }
  .fb_side ul li:hover span {
    color: #d41c50; }

.menu_lift {
  width: 57px;
  height: 160px;
  position: fixed;
  left: -26px;
  top: 66px;
  background: #fff;
  z-index: 99999;
  display: none; }
  .menu_lift li a {
    width: 57px;
    height: 32px;
    display: block;
    overflow: hidden;
    background: url(../images/home_spirit.png) no-repeat; }
  .menu_lift li .lift_nav1 {
    background-position: -79px -60px; }
  .menu_lift li .lift_nav2 {
    background-position: 0 -92px; }
  .menu_lift li .lift_nav2:hover {
    background-position: -164px -92px; }
  .menu_lift li .lift_nav3 {
    background-position: 0 -124px; }
  .menu_lift li .lift_nav3:hover {
    background-position: -164px -124px; }
  .menu_lift li .lift_nav4 {
    background-position: 0 -156px; }
  .menu_lift li .lift_nav4:hover {
    background-position: -164px -156px; }
  .menu_lift li .lift_nav5 {
    background-position: 0 -188px; }
  .menu_lift li .lift_nav5:hover {
    background-position: -164px -188px; }

/*# sourceMappingURL=index.css.map */
