@charset "utf-8";
body,p,li,ul,ol,h1,h2,h3,h4,h5,h6,fieldset,legend,dl,dt{
	margin:0;
	padding:0;
}
body,html{
	height:100%;
	font-size:12px;
	font-family:"微软雅黑";
}
img,iframe{
	border:none;
}
a{
	text-decoration:none;
	color:#000;
}
ul,ol{
	list-style:none;
}
.clear{
	width:0;
    height:0;
	overflow:hidden;
	clear:both;
}
