@import "base";
@charset "utf-8";
.container{
    width: 100%;
    border-bottom: 2px #ed1c22 solid;
}
 header{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    height: 90px; 
    .logo{
        float: left;
        margin-top: 27px;
        margin-right: 25px;
    }
    .cart_title{
        float: left;
        margin-top: 32px;
        .title_text{
            float:left;
            color: #383838;
            font-size: 24px;
            padding-bottom: 2px;
        }
        .wel{
            float: left;
            clear:both;
            font-size: 11px;
            color: #333;
        }
    }
    .cart_step{
        width: 440px;
        float: right;
        height: 80px;
        overflow: hidden;
        margin-top: 30px;
        .step_icon{
            height: 30px; 
            width: 480px;
            background: transparent url(../images/cart_step_1.png) top center no-repeat;
            font-size: 0;
            line-height: 0;
        }
        ul{
            li{
                float: left;
                width: 110px;
                text-align: right;
                .red{
                    font-style: normal;
                    color: #d41c4f;
                    font-family: tahoma,verdana,arial,helvetica,sans-serif;
                }
            }
        }
    }
}
.main_bg{
    width: 100%;
    background: #f0f0f0;
    border-bottom: 1px solid #cccccc;
}
.cart_main{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    .cart_notice{
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        .notice_wrap{
            background-color: #fffdee;
            border: 1px solid #d7d7d7;
            padding: 15px 8px 15px 8px;
            font-size: 11px;
            .notice_title{
                color: #333;
                display: inline-block;
                width: 67px;
                vertical-align: top;
            }
            .noctice_body{
                color: #666;
                display: inline-block;
                width: 860px;
                color: #666;
            }
        }
        .arrow_b{
            display: block;
            width: 11px;
            height: 6px;
            overflow: hidden;
            font-size: 0;
            line-height: 0;
            position: absolute;
            background-image: url(../images/cart_arrow_b.png);
            bottom: -5px;
            left: 31px;
        }
    }
    .cart_wrapper{
        background-color: #fff;
        width: 930px;
        padding: 15px; 
        float: left;
        .cart_selected{
            width: 100%;
            float: left;
            .selected_header{
                float: left;
                width: 100%;
                height: 29px;
                border-bottom:#666666 solid 2px;
                position: relative;
                .selected_header_list{
                    li{
                        height: 29px;
                        color: #000;
                        position: absolute;
                        top: 0;
                        line-height: 29px;
                    }
                    li:nth-of-type(1){
                        left: 179px;
                    }
                    li:nth-of-type(2){
                        right: 313px;
                    }
                    li:nth-of-type(3){
                        right: 207px;
                    }
                    li:nth-of-type(4){
                        right: 92px;
                    }
                    li:nth-of-type(5){
                        right: 12px;
                    }
                }
            }
            .selected_main{
                width:100%;
                float: left;
                .nogoods{
                    width: 100%;
                    height: 37px;
                    float: left;
                    border-bottom: 1px dashed #efefef;
                    display: block;
                    font-size: 17px;
                    text-align: center;
                    line-height: 37px;
                    color: #666;
                    a{
                        color: #666;
                    }
                    a:hover{
                        color: #ee1c22;
                    }
                }
                .selected_good_list{
                    width: 100%;
                    float: left;
                    overflow: hidden;
                    display:none;
                   .goodInfo{
                        width: 100%;
                        height: 103px;
                        float: left;
                        position: relative;
                        border-bottom: 1px dashed #efefef;
                        li{
                            position: absolute;
                        }
                        li:nth-of-type(1){
                            width: 80px;
                            height: 80px;
                            top: 5px;
                            left: 10px;
                            img{
                                width: 80px;
                                height: 80px;
                            }
                        }
                        li:nth-of-type(2){
                            top: 32px;
                            left: 103px;
                            p{
                                font-weight: 400;
                                display: block;
                                text-align: left;
                                font-size: 11px;
                                color: #666;
                            }
                            .good_name{
                                margin-bottom: 2px;
                                a{
                                    color: #666;
                                }
                            }
                        }
                        li:nth-of-type(3){
                            left: 582px;
                            top:40px;
                            .good_price{
                                font-size: 11px;
                                color: #666;
                            }
                        }
                        li:nth-of-type(4){
                            width: 70px;
                            height: 20;
                            top: 37px;
                            right:184px ;
                            .minus,.plus{
                                float: left;
                                width: 11px;
                                height: 11px;
                                margin-top: 5px;
                            }
                            .minus{
                                background:url(../images/cart_minus.png);
                            }
                            .plus{
                                background:url(../images/cart_plus.png);
                            }
                            .count{
                                float: left;
                                width: 30px;
                                height: 16px;
                                border: #cccccc 1px solid;
                                line-height: 18px;
                                text-align: center;
                                margin: 0 7px;
                            }
                        }
                        li:nth-of-type(5){
                            left: 800px;
                            top: 39px;
                            .good_total{
                                font-weight: 700;
                                color: #ed1c22;
                                font-size: 11px;
                            }
                        }
                        li:nth-of-type(6){
                            right:15px;
                            top:39px;
                            .good_remove{
                                color: #666;
                                font-size: 11px;
                            }
                            .good_remove:hover{
                                color: #ed1c22;
                            }
                        }
                    }
                }

                .cart_footer{
                    width: 100%;
                    float: left;
                    padding: 15px 0;
                    border-bottom: 2px solid #ccc;
                    .coupon{
                        margin-bottom: 15px;
                        line-height: 25px;
                        float: left;  
                        .coupon_title{
                            float: left;
                            text-align: right;
                            color: #666;
                            font-size: 11px;
                            padding-left: 60px;
                        }
                        .coupon_input{
                            float: left;
                            margin-right: 10px;
                            position: relative;
                            margin-left: 3px;
                            .coupon_text{
                                margin-right: 5px;
                                padding: 0 4px;
                                height: 25px;
                                border: 1px solid #ccc;
                                line-height: 25px;
                                width: 240px;
                            }
                            .coupon_btn{
                                vertical-align: inherit;
                                cursor: pointer;
                                background-color: #eeeeee;
                                border: none;
                                width: 50px;
                                height: 26px;
                                font-size: 11px;
                            }
                            
                        }  
                        .coupon_rules{
                            color: #319ae1;
                        }
                        .coupon_rules:hover{
                            text-decoration: underline;
                        }
                                          
                    }
                    .maidou{
                        margin-bottom: 8px;
                        line-height: 25px;
                        float: left;
                        clear: both;
                        .maidou_title{
                            float: left;
                            text-align: right;
                            color: #666;
                            padding-left: 60px;
                            font-size: 11px;
                        }
                        .maidou_input{
                            margin-left: 3px;
                            float: left;
                            margin-right: 10px;
                            position: relative;
                            .maidou_text{
                                float: left;
                                width: 40px;
                                margin-right: 5px;
                                padding: 0 4px;
                                height: 23px;
                                border: 1px solid #ccc;
                                line-height: 23px;
                            }
                            .maidou_count{
                                font-size: 11px;
                                .red{
                                    color: #d41c4f;
                                    font-family: tahoma,verdana,arial,helvetica,sans-serif;
                                    .maidou_count_result{
                                        color: #d41c4f;
                                        font-family: tahoma,verdana,arial,helvetica,sans-serif;
                                    }
                                }
                            }
                        }
                    }
                    .maidou_tip{
                        margin-bottom: 8px;
                        line-height: 25px;
                        clear: both;
                        float: left;
                        .maidou_notice{
                            font-size: 11px;
                            float: left;
                            width: auto;
                            position: relative;
                            padding-left: 35px;
                            .notice_wrap{
                                padding: 0 4px;
                                background-color: #fffdee;
                                border: 1px solid #d7d7d7;
                                strong{
                                    color:  #d41c4f;;
                                }
                            }
                            .arrow_t{
                                left: 63px;
                                background-image: url(../images/cart_arrow_t.png);
                                top: -5px;
                                display: block;
                                width: 11px;
                                height: 6px;
                                overflow: hidden;
                                font-size: 0;
                                line-height: 0;
                                position: absolute;
                            }
                        }
                    }
                    .receipt{
                        float: right;
                        text-align: right;
                        
                        table{
                            border-collapse: collapse;
                            border-spacing: 0;
                            tbody {
                                display: table-row-group;
                                vertical-align: middle;
                                border-color: inherit;
                                tr {
                                    display: table-row;
                                    vertical-align: inherit;
                                    border-color: inherit;
                                    th{
                                        text-align: right;
                                        color: #666;
                                        font-weight: normal;
                                        .freight-tip{
                                            margin-top: 5px;
                                            padding: 0 5px;
                                            background-color: #e6e8e3;
                                            border-radius: 4px;
                                            line-height: 25px;
                                            height: 25px;
                                            color: #ed1c22;
                                            display: inline-block;
                                            zoom: 1;
                                        }
                                        .total-price{
                                            margin-top: 25px;
                                            .price{
                                                font-size: 20px;
                                                font-weight: 700;
                                                color: #ed1c22
                                            }
                                        }
                                    }
                                    td{
                                        height: 24px;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                     .bottom_btn{
                        width: 100%;
                        margin-bottom: 20px;
                        padding-top: 20px;
                        float: left;
                        clear: both;
                        .go_checked{
                            float: right;
                            display: block;
                            width: 209px;
                            height: 40px;
                            text-align: left;
                            text-indent: -9999px;
                            overflow: hidden;
                            background-image: url(../images/cart_checked.png);
                        }
                    }
                }
                
            }
        }
    }
}
footer{
    width: 100%;
    border-bottom: 1px #ebebeb solid;
    padding-top: 23px;
    .strengths{
        width: 960px;
        height: 98px;
        overflow: hidden;
        margin: 0 auto;
        
        ul{
            overflow: hidden;
           
            margin: 0 auto;
            margin-top: 18px;
            width: 820px;
            li{
                float: left;
                height: 40px;
                overflow: hidden;
                a{
                    display: block;
                    width: 205px;
                    height: 40px;
                    background: url(../images/footer-bar.jpg) no-repeat
                }
            }
        }
    }
}
.copy_right{
    width: 960px;
    margin: 0 auto;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    color: #999;
    font-size: 11px;
}

